<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MERN</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Qura Applicaton</h1>
    <% for(post of posts){ %>
    <div class="elements">
      <p><%=post.username%></p>
      <p><%=post.age%></p>
      <a class="detail-btn" href="./post/<%=post.id%>">View Detail</a>
      <a class="detail-btn" href="./post/<%=post.id%>/edit">Edit</a>
      <form method="post" action="/post/<%= post.id%>?_method=DELETE">
        <button class="del-btn">Delete</button>
      </form>
    </div>
    <%}%>
    <a href="./post/new">Fill Your Details</a>
  </body>
</html>
